<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Про автора</title>
</head>
<body>
    {{> shopHeader}}
    <main>
        <div class="container">
            <div class="justify-content-center text-center">
                <h1 class="display-3 col-sm-12">Про розробника</h1>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <img class="img-fluid mx-auto d-block" width="200px" src="/img/photo.jpg"/>
                        <h2>Бурменський Рустам</h2>
                    </div>
                    <div class="col-sm-12 col-md-6 align-self-center">
                        <p class="lead">
                            Студент групи КН-60<br>
                            Харківького національного університету будівництва та архітектури<br>
                            E-mail: <a href="mailto:rustamburmenskii@gmail.com">rustamburmenskii@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
</body>
</html>