<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>Вхід до системи</title>
</head>
<body>
    {{> adminHeader}}
    <main>
        <div class="container">
            <div class="justify-content-center">
				<div class="text-center">
					<h1 class="display-3 col-sm-12">Вхід до системи</h1>
                    {{#if error}}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="login">Логін</label>
                                <input type="login" class="form-control"
                                    id="login" name="login" maxlength="30"
                                    placeholder="Введіть логін" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Пароль</label>
                                <input type="password" class="form-control"
                                    id="password" name="password" minlength="6" maxlength="30"
                                    placeholder="Введіть пароль" required>
                            </div>
                            <input type="submit" class="btn btn-success" value="Вхід"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
    <script type="text/javascript" src="/js/cart.js"></script>
</body>
</html>