<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Mobilex AdminPanel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#if session.user}}
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Категорії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Товар</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders">Замовлення</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Користувачі</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Статті</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="http://mobilex.com/about">Про розробника</a>
                </li>
            </ul>
            {{#if session.user}}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{session.user.login}}</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-outline-light"><i class="material-icons">exit_to_app</i></button>
                    </form>
                </li>
            </ul>
            {{/if}}
        </div>
    </nav>
</header>